.search-bar{
  display: flex;
  justify-content:space-between;
  background-color:aliceblue;
  padding: 20px 0;
  position: sticky;
  top: 0;
}

.search-bar input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 18px;
  line-height: 1.67;
  color: #767676;
  margin: 0 20px;
}

.search-bar button{
  font-size: 18px;
  line-height: 1.67;
  border-radius: 4px;
  background-color: #ced4da;
  border: 2px solid #ced4da;
  text-align: center;
  color: aliceblue;
  padding: 10px 20px;
  margin: 0 20px;
  cursor: pointer;
}

.search-bar button:hover{
  background-color: aliceblue;
  color: #ced4da;
}